.page-id-220, .error404{
    .single-post{
   display: flex;
   justify-content: start;
   @media screen and (min-width: $break-large) {
     justify-content: center;
   }
 }
 }

 .error404 {.page-content p{
    font-size: 1rem;
    padding: 0 1rem;
    margin: 0;
  }

  h1.page-title{
    padding-left: 1rem;
  }
  @media screen and (min-width: $break-large) {
  .entry-content{
    width: 725px;
  }
  .icon-left{
    position: relative;
    left: -4rem;
}
.icon-right{
  position: relative;
  left: 5rem;
}
  
  }
}

.page-template-default .entry-header, .error404 h1.page-title{
	text-align: left;
  }

  