.page-template-default .entry-content p{
    font-size: 1rem;
    padding-bottom: 2rem;
}

.page-id-208 {.single-post{
padding-left: 1rem;
@media screen and (min-width: $break-large) {
  padding-left: 0;
}
}
}

.content-page{
  @media screen and (min-width: $break-large) {

  margin-left: 2rem;
    width: 720px;
}
}