button, input.submit-quote {
    background-color: $color__background-body;
    color: $color__text-brand;
    border-color: 2px solid $color__text-brand;
	padding: 0.75rem 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
	margin-bottom: 4rem;
  font-size: 1rem;
   &:hover{
     color: $color__text-hover;
   }
  }

  .button{
	@media screen and (min-width: $break-small) {
		text-align: left;	
	}

@media screen and (min-width: $break-large) {
	text-align: center;
}
};

button.search-submit{
    color: transparent;
    border: none;
  }