button, input.submit-quote {
    background-color: $color__background-body;
    color: $color__text-brand;
    border-color: $color__text-brand;
    width: 35%;
	padding-top: 1rem;
	padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
	margin-bottom: 3rem;
  font-size: 1rem;
   &:hover{
     color: $color__text-hover;
   }
  }

  .button{
	@media screen and (min-width: $break-small) {
		text-align: left;	
	}

@media screen and (min-width: $break-large) {
	text-align: center;
}
};

button.search-submit{
    color: transparent;
    border: none;
  }