/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/*Global*/

body {
  background-color: $color__background-body;
  color: $color__font-color;
  font-size: 16px;
  font-family: 'Exo';
  line-height: 1.5;
}

a:hover{
  color: $color__text-hover;
}

  h2.entry-title{
    font-weight: normal;
	font-size: 1.2rem;
	margin: 0;
  }

  span.source {
    font-style: italic;
    a {
    color: $color__text-brand;
    font-style: italic;
  text-decoration: none;
  &:hover{
    color: $color__text-hover;
  }
}
}

input, textarea{
  margin-bottom: 1.2rem;
    padding: .25rem .5rem;
    border-radius: 3px;
    color: $color__font-color ;
    font-size: 1rem;
    
  background-color: $color__background-body;
  border: 2px solid $color__text-brand;

}

.site-description {
  display: none;
}

.entry-content {p {
  line-height: 3rem;
  font-size: 1.2rem;
  @media screen and (min-width: $break-large) {
  font-size: 1.7rem;
  width: 100vh;
  text-align:left;
}
}    a{
display: inline-block;
    text-decoration: none;
    color: $color__text-brand;
  &:hover{
    color: $color__text-hover;
  }
}
}

.entry-meta{
  display: flex;
@media screen and (min-width: $break-large) {
  text-align: left;
}
}

fieldset{
    border: none;
  }

  .entry-post{
    @media screen and (min-width: $break-large) {
    padding-left: 3rem;
    padding-right: 7rem;
    }
  }
    
  .single-post {
    display: inline-block;
    @media screen and (min-width: $break-small) {
      display: flex;
      text-align: left;
    }
    @media screen and (min-width: $break-large) {
    text-align: center;
    margin-left: 4rem;
    margin-right: 5rem;
    justify-content: center;
    
    }
  }
  
  .nav-links{
    display: none;
  }
  
  form{
    text-align: left;
  }
  /*End of Global*/

.search-results .content-area a, nav.number-pagination a, nav.number-pagination span{

  text-decoration: none;
      color: $color__text-brand;
    &:hover{
      color: $color__text-hover;
    }
}

.search-results {
    h1.page-title{
    padding-bottom: 1rem;
}
.icon-left{
  @media screen and (min-width: $break-large) {
    margin-right: 2rem;
}
}

.entry-post{
  padding-bottom: 4rem;
  padding-left: 1rem;
}
h4.copy-right{
  left: 0;
  padding-left: 1rem;
}
.border-top{
  margin-right: 1rem;
  border-top: 1px dashed $color__font-color;
  padding-bottom: 2rem;
}
nav.number-pagination{
  padding-left: 0;
}
}

nav.number-pagination{
  padding-left: 1rem;
    padding-top: 1rem;
a{
  padding-right: 0.5rem;
}
span.current{
  color: $color__font-color;
  padding-right: 0.5rem;
}
}

.single, .home {
  .single-post{
    padding-left: 1rem;
  }
}  

p.log-in-message{
  padding-bottom: 7rem;
}