/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

body {
  background-color: $color__background-body;
  color: #fff;
  font-size: 1rem;
  font-family: 'Exo';
  line-height: 1.5rem;
}

.site-branding {
  text-align: left;
  padding: 1rem;
  background-color: $color__background-body;
  font-size: 1rem;
  @media screen and (min-width: $break-large) {
    text-align: center;
    p {
      display: none;
    }
  }
}

  h2.entry-title{
    font-weight: normal;
	font-size: 1.2rem;
	margin: 0;
  }

  .page-template-default .entry-header, .error404 h1.page-title{
	text-align: left;
    padding-left: 1rem;
  }

  span.source a {
    color: $color__text-brand;
    font-style: italic;
	text-decoration: none;
}

span.source{

    font-style: italic;
}
  

  button, input.submit-quote {
    background-color: $color__background-body;
    color: $color__text-brand;
    border-color: $color__text-brand;
    width: 35%;
	padding-top: 1rem;
	padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
	margin-bottom: 3rem;
  font-size: 1rem;
  }

  

  input, textarea{
    background-color: $color__background-body;
    color: $color__text-brand;
    border-color: $color__text-brand;

  }

  .main-navigation , .post-archives, .category-archives, .tag-archives{
	  ul li{
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #ffffff;
    display: inline-block;
    
    a {
      display: inline-block;
      text-decoration: none;
      color: $color__text-brand;
	}
}
  }

  .main-navigation {
	  ul li:last-child{
      border: none;
    @media screen and (min-width: $break-small) {
      border-right: 1px solid #ffffff;
    }
  }
  }

  .post-archives, .category-archives, .tag-archives{
	ul li{
		border: none;
		padding-left:0;
	}
}

  h4.copy-right {
    position: relative;
    left: 4%;
    @media screen and (min-width: $break-small) {
      margin: 0;
    }
  }

  span.link-page {
    text-decoration: none;
    color: $color__text-brand;
  }

  article {
    padding-left: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    @media screen and (min-width: $break-small) {
      flex-direction: row;
    }
    @media screen and (min-width: $break-large) {
      justify-content: flex-end;
      margin-right: 6rem;
    }
  }

  i.fas {
	  display: none;
	
    @media screen and (min-width: $break-large) {
		display: inline-block;
      font-size: 7rem;
      color: $color__text-brand;
    }
  }

  i.fa-search{
    font-size: 1rem;
    display: inline-block;
    color: #0c0;

  }

  .site-description {
	  display: none;
  }

  .entry-content {p {
	  line-height: 3rem;
	  font-size: 1.2rem;
    @media screen and (min-width: $break-large) {
    font-size: 1.7rem;
    width: 100vh;
	  text-align:left;
	}
}    a{
	display: inline-block;
      text-decoration: none;
      color: $color__text-brand;
}
  }

  .error404 .page-content p{
    font-size: 1rem;
    padding: 1rem;
    margin: 0;

  }

  fieldset{
    border: none;
  }

  .page-template-default .entry-content p{
	  font-size: 1.2rem;
  }

  .page-id-210 .entry-content{
    text-align: left;
  }



  .entry-meta{
	  display: flex;
	@media screen and (min-width: $break-large) {
		text-align: left;

  }
}


  .entry-post{
	@media screen and (min-width: $break-large) {
	padding-left: 3rem;
	padding-right: 7rem;
	}
}
  
  

.single-post {
  display: inline-block;
  @media screen and (min-width: $break-small) {
    display: flex;
    text-align: left;
  }
  @media screen and (min-width: $break-large) {
	text-align: center;
	margin-left: 4rem;
	margin-right: 5rem;
	
  }
}



img{
	width: 60%;
}

.button{
	@media screen and (min-width: $break-small) {
		text-align: left;	
	}

@media screen and (min-width: $break-large) {
	text-align: center;
}
};

.nav-links{
	display: none;
}

form{
	text-align: left;
}

.page-id-220, .error404{
   .single-post{
  display: flex;
  justify-content: start;
  @media screen and (min-width: $break-large) {
    justify-content: center;
  }
}
}

.page-id-220 .entry-content{
  margin-left: 2rem;
  width: 70vh;

  @media screen and (min-width: $break-large) {
	margin-left: 5rem;
    margin-right: 5rem;
  }
}


.page-id-210 {
  .entry-header, .post-archives h2, ul{
    margin:0;
    padding: 0;
  }
}

.page-id-210 .entry-content{
  padding-left: 2rem;
  padding-bottom: 3rem;
  @media screen and (min-width: $break-large) {
  padding-left: 3rem;
  padding-right: 3rem;
  }
  a{
  padding-top: 0.5rem;
  font-size: 1.25rem !important;
  } 
}

.page-id-210 .navigation-menu{
  padding-left: 1rem;
}

.page-id-210 h4.copy-right{
  left:0;
  padding-left: 2rem
}



.page-id-210 .post-archives h2{

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-id-210 .single-post{
  margin-left: 0;
  margin-right: 0;
  @media screen and (min-width: $break-large) {

  margin-left: 10rem;
  margin-right: 10rem;
}
}

.category, .tag{
  .single-post{
    border-bottom: 1px dashed #ffffff;
    width: 100%;

  }
}

.category-archive{
  display: flex;
}


.category, .tag{

 .single-post{
  flex-direction: column;
}
}

.category, .tag{

  .page-header{
    position: relative;
    
    border-bottom: 1px dashed #ffffff;
    
    margin-left: 1rem;

    @media screen and (min-width: $break-large) {
    left: 5rem;
    margin-left:0;
}
  }
}

.page-id-208 .footer{
  padding-left: 1rem;
}

.page-id-208 .single-post{
  @media screen and (min-width: $break-large) {
    margin-left: 7rem;
    margin-right: 10rem;
  }

}

.page-id-208 .entry-content{
  @media screen and (min-width: $break-large) {
    padding-left: 2rem;
  }
}

.quote-submission{
  display: flex;
}

.search-results .content-area a{

  text-decoration: none;
      color: $color__text-brand;
  
}
