.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    @media screen and (min-width: $break-small) {
      flex-direction: row;
    }
    @media screen and (min-width: $break-large) {
      justify-content: flex-end;
      margin-right: 6rem;
    }
  }

  h4.copy-right {
    padding-left: 1rem;
    ;
    @media screen and (min-width: $break-small) {
      margin: 0;
    }
  }

  h4.copy-right a {
    text-decoration: none;
    color: $color__text-brand;
    &:hover{
      color: $color__text-hover;
    }
  }

  .main-navigation , .post-archives, .category-archives, .tag-archives{
    ul li{
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid $color__font-color;
  display: inline-block;
  
  a {
    display: inline-block;
    text-decoration: none;
    color: $color__text-brand;
    &:hover{
      color: $color__text-hover;
    }
  
  }
}
}

.main-navigation {
    ul li:last-child{
    border: none;
  @media screen and (min-width: $break-small) {
    border-right: 1px solid $color__font-color;
  }
}
}

.post-archives, .category-archives, .tag-archives{
  ul li{
      border: none;
      padding-left:0;
  }
}

.page-id-220 h4.copy-right{
    padding-left: 1rem;
  }

  .page-id-210 h4.copy-right{
    left:0;
    padding-left: 1rem
  }
