i.fas {
    display: none; 
  @media screen and (min-width: $break-large) {
      display: inline-block;
    font-size: 7rem;
    color: $color__text-brand;
  }
}

i.fa-search{
    font-size: 1rem;
    display: inline-block;
    color: $color__text-brand;
  }

  .error404 i.fa-search{
    position: relative;
      right: 3rem;
      @media screen and (min-width: $break-large) {
  right: 6rem;
      }
  }

  .search-results, .page-id-220, .category, .tag{
    @media screen and (min-width: $break-large) {
    
      .icon-left{
        padding-left: 7rem;
    }
    .icon-right{
      padding-right: 8rem;
    }
    }
      }