i.fas {
    display: none; 
  @media screen and (min-width: $break-large) {
      display: inline-block;
    font-size: 7rem;
    color: $color__text-brand;
  }
}

i.fa-search{
    font-size: 1rem;
    display: inline-block;
    color: $color__text-brand;
  }

  .error404 i.fa-search{
    position: relative;
    right: 2rem;
  }

  .search-results, .category, .tag{
    @media screen and (min-width: $break-large) {
    
      .icon-left{
        padding-left: 7rem;
    }
    .icon-right{
      padding-right: 8rem;
    }
    }
      }

  .quote-submission{
  @media screen and (min-width: $break-large) {
    
    .icon-left{
      padding-left: 7rem;
      left: 0;
  }
  .icon-right{
    position: relative;
    right: 5rem;
  }
}
  }